@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Font - 400, 700 - 1.125rem / 18px*/
  --font: "DM Sans", sans-serif;

  /* Primary Colors */
  --soft-red: hsl(10, 79%, 65%);
  --cyan: hsl(186, 34%, 60%);

  /* Neutral Colors */
  --dark-brown: hsl(25, 47%, 15%);
  --medium-brown: hsl(28, 10%, 53%);
  --cream: hsl(27, 66%, 92%);
  --very-pale-orange: hsl(33, 100%, 98%);
}

body {
  min-height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font);
  background-color: var(--cream);
}

/* ==================================== Balance ==================================== */
.balance {
  height: 7rem;
  width: 30rem;
  background-color: var(--soft-red);
  margin-bottom: 1rem;
  border-radius: 0.8rem;
  display: flex;
  padding: 2rem;
  color: var(--very-pale-orange);
  align-items: center;
  justify-content: space-between;
}

.balance h2 {
  font-size: 1.7rem;
}

.balance h5 {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.my-balance {
  display: flex;
  flex-direction: column;
}

.logo {
  width: 4em;
  height: 4rem;
}

/* ==================================== Main Container ==================================== */
.main-container {
  width: 30rem;
  height: 30rem;
  background-color: var(--very-pale-orange);
  border-radius: 0.8rem;
  padding: 2rem;
}

.main-container h2 {
  color: var(--dark-brown);
  font-size: 1.7rem;
  margin-bottom: 2rem;
}

.bar-graph {
  cursor: pointer;
  margin-bottom: 2rem;
}

.main-container h5 {
  font-size: 1rem;
  color: var(--medium-brown);
  font-weight: 400;
}

.total {
  padding-top: 2rem;
  height: 7.5rem;
  border-top: 0.1rem solid lightgrey;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.month-total h1 {
  font-size: 2.9rem;
  color: var(--dark-brown);
}

.month-prior {
  height: 3.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.month-prior .percent {
  color: var(--dark-brown);
  font-weight: 700;
}

/* ==================================== Media Queries ==================================== */
@media screen and (max-width: 768px) {
}
